.container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    border: 2px solid black;
    gap: auto;
    height: 200px;
    padding: 10px;
}

.box{
    background-color: #1e90ff;
    padding: 20px;
    margin: 5px;
    width: 400px;
    height: 20px;

}